<div>
  <h2>
    {{AppTitle}}!
  </h2>
</div>
<ul class="app-front">
<div class="addtodo">
    <input #todoTitle placeholder="New todo"/> 
    <button (click)="add(todoTitle.value); todoTitle.value=''">
     +
    </button>
  </div>
  <li >
      <label>{{item}}</label>      <input type="radio" name="gender" value="male"><br>
  </li>
  <li >
    <label>{{item}}</label>      <input type="radio" name="gender" value="male"><br>
</li>
<li >
  <label>{{item}}</label>      <input type="radio" name="gender" value="male"><br>
</li>
</ul>
